body {
    background-color: #FFD400;
    font-family: Arial, Helvetica, sans-serif;
}

.App-header {
    display: flex;
    justify-content: center;
    margin: 4.5% auto;
}

.left, .right {
    height: 500px;
    width: 40%;
}

.left {
    background-color: #ffff;
}


.right {
    background-color: #000000;
    color: #FFD400;
    text-align: center;
}

.form {
    text-align: center;
    margin-top: 40px;
}

input {
    padding: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
}

button {
    border: none;
    padding: 15px;
    background-color: #FFD400;
    width: 61%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: 19%;
    margin-top: 30px;
}

.img {
    height: auto;
    max-width: 70%;
}
